/*====  FONTS GOOGLE ====*/

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

/*==== VARIABLES GLOBALES ====*/

:root {
    /* COLORES */
    --tipografia_gris: #575757;
    --tipografia_negro: #000000;
    --label: #529F0F;
    --hover: #529F0F;
    /* FONTS */
    --titulo: 'Playfair Display', serif;
    --texto: 'Lora', serif;
    --titulo_producto: 'Work Sans', sans-serif;
}

/*INIT*/
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* BANNER */
.banner-container {
    display: flex;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/slider-2.jpg");
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: -25vh;
    padding: 0% 10% 0% 10%;
    width: 100vh;
}

.p-title {
    font-size: 3.5vh;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: var(--tipografia_negro);
    font-family: var(--titulo);
    font-weight: 300;
}

.btn-shop-container {
    position: absolute;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-content: center;
}

.btn-shop {
    text-decoration: underline;
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 500;
    font-size: 2.8vh;
    transition: 0.5s all;
}

.btn-shop:hover {
    color: white;
    transition: 0.5s all;
}

/* BANNER DESKTOP */
@media (min-width: 768px) {
    .p-title {
        font-size: 4rem;
        font-family: var(--titulo);
    }

    .btn-shop {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}

/* PUBLICIDAD */
.publicidad-container {
    display: grid;
    /* grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* margin: 10px 0px 0px -40vh; */
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-publicidad, .img-publicidad {
    border: 1px solid red;
    width: min-content;
    display: block;
    position: relative;
}

.card-publicidad .card-descuento, .card-title {
    background-color: rgba(255, 255, 255, .8);
    display: block;
    position: absolute;
    bottom: -16px;
    left: 0;
    padding: 5px;
    width: 100%;
}

/* NAVBAR */
.header {
    background-color: white;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: -380px;
    list-style: none;
    color: var(--tipografia_negro);
    order: -1;
}

.nav-menu-item {
    font-size: 13px;
    font-weight: 500;
    margin: 0 10px;
    line-height: 2rem;
    text-transform: uppercase;
    width: max-content;
    font-family: var(--titulo);
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    color: var(--tipografia_negro);
    font-family: var(--titulo);
}

.nav-toggle {
    color: var(--tipografia_negro);
    background: none;
    border: 2px solid var(--tipografia_negro);
    border-radius: 4px;
    margin: 15px 10px 30px 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.nav-togglecart {
    color: var(--tipografia_negro);
    background: none;
    border: none;
    border-radius: 4px;
    margin: 20px 10px 30px 10px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
}

.nav-togglecart .cart {
    font-size: 20px;
    margin-left: 2vh;
    margin-right: 5vh;
}

.money {
    margin-right: 1vh;
    align-self: flex-start;
}

/* NAVBAR MOBILE */
@media (max-width: 768px) {
    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
        margin-top: 8px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: white;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
        color: var(--tipografia_negro);
    }

    .nav-menu-item {
        line-height: 70px;
        color: var(--tipografia_negro);
    }

    .nav-menu-link:hover,
    .nav-menu-link_active {
        background: none;
        color: #000000;
    }

    .nav-toggle {
        display: block;
    }

    .nav-togglecart {
        display: block;
        position: relative;
        right: -2vh;
        font-family: var(--titulo);
    }

    .nav-togglecart .cart {
        margin-right: 0;
    }

    .nav-menu_visible {
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }
}