/*====  FONTS GOOGLE ====*/

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/*==== VARIABLES GLOBALES ====*/

:root {
    /* COLORES */
    --tipografia_gris: #575757;
    --tipografia_negro: #000000;
    --label: #529f0f;
    --hover: #529f0f;
    /* FONTS */
    --titulo: "Playfair Display", serif;
    --texto: "Lora", serif;
    --titulo_producto: "Work Sans", sans-serif;
}

/*INIT*/
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* BANNER */
.banner-container {
    display: flex;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/slider-2.jpg");
    justify-content: center;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: -25vh;
    padding: 0% 10% 0% 10%;
    width: 100vh;
    overflow: hidden;
}

.p-title {
    font-size: 3.5vh;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: var(--tipografia_negro);
    font-family: var(--titulo);
    font-weight: 300;
    overflow: hidden;
}

.btn-shop-container {
    position: absolute;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

.btn-shop {
    text-decoration: underline;
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 500;
    font-size: 2.8vh;
    transition: 0.5s all;
}

.btn-shop:hover {
    color: white;
    transition: 0.5s all;
}

/* BANNER DESKTOP */
@media (min-width: 768px) {
    .p-title {
        font-size: 4rem;
        font-family: var(--titulo);
    }

    .btn-shop {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}

/* PUBLICIDAD */
.publicidad-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 5%;
    margin-left: 5%;
}

.card-publicidad,
.img-publicidad {
    width: min-content;
    display: block;
    position: relative;
}

.card-publicidad .card-descuento {
    display: block;
    position: absolute;
    bottom: -80px;
    left: -153px;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--hover);
    font-size: 50px;
    font-weight: 600;
    font-family: var(--texto);
}

.card-publicidad .card-title {
    display: block;
    position: absolute;
    bottom: -165px;
    left: -168px;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--tipografia_gris);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--texto);
}

/* CARDS PRODUCTS */

.sectionCard {
    background-image: url("../img/bg-1.jpg");
    align-items: center;
    padding-top: 5%;
}

.boxTitle {
    display: flex;
    justify-content: center;
}

.cardsContainer {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 15px;
}

.card img {
    width: 100%;
    height: 250px;
}

.img {
    box-shadow: 0.2px 0.2px 0.2px 2px rgba(211, 208, 208, 0.2);
    background: white;
}

.titleProducts {
    width: 28%;
    text-align: center;
}

.titleProducts h2 {
    font-family: var(--titulo);
    font-style: normal;
    font-size: 23px;
    color: var(--tipografia_gris);
}

.titleProducts p {
    font-family: var(--texto);
    color: var(--tipografia_gris);
}

.sale {
    text-decoration: line-through;
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
    font-weight: 600;
}

.price {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 600;
}

.title-product {
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
}

.titleproductext{
    font-family: var(--titulo);
}

.titleproductextdesc{
    font-family: var(--texto);
    color: var(--tipografia_gris);
}

.circleSale {
    width: 50px;
    border-radius: 100%;
    background: #529f0f;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20rem;
    left: 1rem;
}

.circleSale p {
    color: #fff;
    font-family: var(--titulo_producto);
}

/* PRODUCTOS MOBILE */
@media (max-width: 768px) {
    .titleProducts {
        width: 80%;
    }
}
/* CARDS NEW PRODUCTS */
.sectionCard2 {
    background-color: #f8f8f8;
    align-items: center;
    padding-top: 5%;
}
/* SECCION INFO */
.info-container {
    width: 100%;
    height: 25rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: fit-content;
    left: 35.5em;
    position: relative;
    margin-bottom: -15%;
}

.info-texto {
    text-align: center;
    width: 60%;
    align-self: center;
    justify-self: center;
}

.p-texto {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}

.autor-texto {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 500;
    font-size: 15px;
}

.details-texto {
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
    font-weight: 600;
    font-size: 14px;
}

/* INFO MOBILE */
@media (max-width: 768px) {
    .info-texto {
        width: 80%;
    }
    .info-img {
        left: 10em;
    }
}

/* SECCION SUSCRIBE */
.suscribe-container {
    width: 100%;
    height: 25rem;
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-2.jpg);
}
.title-suscribe{
    font-family: var(--titulo);
    font-size: 35px;
    font-weight: 500;
}
.form-suscribe {
    top: -40%;
    position: relative;
    display: flex;
}
.input-suscribe {
    border: 0.5px solid gray;
    width: 70%;
    padding: 5%;
    background: transparent;
    font-family: var(--titulo_producto);
}
.btn-suscribe{
    border: 0.5px solid black;
    width: 30%;
    padding: 5%;
    background-color: black;
    color: white;
    font-family: var(--titulo_producto);
    font-weight: 600;
    cursor: pointer;
}
/* SECCIONES NEWS */
.title-news {
    color: var(--tipografia_negro);
    font-family: var(--titulo);
    font-weight: 400;
}
.fecha-news{
    margin-top: 5%;
    font-family: var(--texto);
    color: var(--hover);
    font-style: italic;
    text-decoration: underline;
    font-size: 15px;
}
.description-news{
    color: var(--tipografia_gris);
    font-family: var(--texto);
    text-align: justify;
    margin-top: 0;
}
.read-news{
    font-family: var(--titulo_producto);
    text-decoration: underline;
    color: var(--tipografia_gris);
    font-size: 13px;
    font-weight: 600;
}
/* SECCION MARCAs */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: 100px;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    justify-content: center;
    margin: 3% 0% 3% 0%;
    align-items: center;
}
/* MARCAS MOBILE */
@media (max-width: 768px) {
    .parent {
        display: grid;
        /* grid-template-rows: repeat(5, 100px);
        grid-template-columns: 200px; */
        grid-column-gap: 15px;
        grid-row-gap: 0px;
        justify-content: center;
        margin: 3% 0% 3% 0%;
        align-items: center;
        overflow-x: auto;
        padding-left: 60%;
    }
}

/* FOOTER */
footer {
	font-size: 13px;
	color: var(--tipografia_negro);
    font-family: var(--texto);
}

footer p{
    color: var(--tipografia_negro);
    font-family: var(--texto);
    font-weight: 400;
    cursor: pointer;
}

footer .wrap-footer {
	padding: 60px;
	background: #f8f8f8;
}

footer .bottom-footer {
	text-align: center;
	padding: 40px 0;
	background-color: #e9e8e8;
    display: flex;
    justify-content: space-around;
}

.heart{
    color: red;
}

.copyright {
	font-size: 15px;
    font-family: var(--titulo_producto);
    color: var(--tipografia_negro);
}
.col-1-3{
    display: inline-flex;
    width: 24%;
    justify-content: center;
}
@media screen and (max-width: 600px){
    .col-1-3{
        display: flex;
        width: 100%;
        justify-content: start;
    }
    footer .bottom-footer {
        border: 1px solid red;
        display: block;
    }
    .copyright{
        margin-bottom: 5%;
    }
}