/*====  FONTS GOOGLE ====*/

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/*==== VARIABLES GLOBALES ====*/

:root {
    /* COLORES */
    --tipografia_gris: #575757;
    --tipografia_negro: #000000;
    --label: #529f0f;
    --hover: #529f0f;
    /* FONTS */
    --titulo: "Playfair Display", serif;
    --texto: "Lora", serif;
    --titulo_producto: "Work Sans", sans-serif;
}

/*INIT*/
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* BANNER */
.banner-container {
    display: flex;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/slider-2.jpg");
    justify-content: center;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: -25vh;
    padding: 0% 10% 0% 10%;
    width: 100vh;
    overflow: hidden;
}

.p-title {
    font-size: 3.5vh;
    justify-content: center;
    align-self: center;
    text-align: center;
    color: var(--tipografia_negro);
    font-family: var(--titulo);
    font-weight: 300;
    overflow: hidden;
}

.btn-shop-container {
    position: absolute;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-content: center;
    overflow: hidden;
}

.btn-shop {
    text-decoration: underline;
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 500;
    font-size: 2.8vh;
    transition: 0.5s all;
}

.btn-shop:hover {
    color: white;
    transition: 0.5s all;
}

/* BANNER DESKTOP */
@media (min-width: 768px) {
    .p-title {
        font-size: 4rem;
        font-family: var(--titulo);
    }

    .btn-shop {
        font-size: 1.5rem;
        margin-top: 5rem;
    }
}

/* PUBLICIDAD */
.publicidad-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    padding: 5%;
    margin-left: 5%;
}

.card-publicidad,
.img-publicidad {
    width: min-content;
    display: block;
    position: relative;
}

.card-publicidad .card-descuento {
    display: block;
    position: absolute;
    bottom: -80px;
    left: -153px;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--hover);
    font-size: 50px;
    font-weight: 600;
    font-family: var(--texto);
}

.card-publicidad .card-title {
    display: block;
    position: absolute;
    bottom: -165px;
    left: -168px;
    padding: 5px;
    width: 100%;
    height: 100%;
    color: var(--tipografia_gris);
    font-size: 20px;
    font-weight: 600;
    font-family: var(--texto);
}

/* CARDS PRODUCTS */

.sectionCard {
    background-image: url("../img/bg-1.jpg");
    align-items: center;
    padding-top: 5%;
}

.boxTitle {
    display: flex;
    justify-content: center;
}

.cardsContainer {
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 15px;
}

.card img {
    width: 100%;
    height: 250px;
}

.img {
    box-shadow: 0.2px 0.2px 0.2px 2px rgba(211, 208, 208, 0.2);
    background: white;
}

.titleProducts {
    width: 28%;
    text-align: center;
}

.titleProducts h2 {
    font-family: var(--titulo);
    font-style: normal;
    font-size: 23px;
    color: var(--tipografia_gris);
}

.titleProducts p {
    font-family: var(--texto);
    color: var(--tipografia_gris);
}

.sale {
    text-decoration: line-through;
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
    font-weight: 600;
}

.price {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 600;
}

.title-product {
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
}

.circleSale {
    width: 50px;
    border-radius: 100%;
    background: #529f0f;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 20rem;
    left: 1rem;
}

.circleSale p {
    color: #fff;
    font-family: var(--titulo_producto);
}

/* SECCION INFO */
.info-container {
    width: 100%;
    height: 25rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.info-img {
    width: fit-content;
    left: 35.5em;
    position: relative;
    margin-bottom: -15%;
}

.info-texto {
    text-align: center;
    width: 60%;
    align-self: center;
    justify-self: center;
}

.p-texto {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-style: italic;
    font-weight: 400;
    font-size: 25px;
}

.autor-texto {
    color: var(--tipografia_negro);
    font-family: var(--titulo_producto);
    font-weight: 500;
    font-size: 15px;
}

.details-texto {
    color: var(--tipografia_gris);
    font-family: var(--titulo_producto);
    font-weight: 600;
    font-size: 14px;
}

/* NAVBAR MOBILE */
@media (max-width: 768px) {
    .info-texto {
        width: 80%;
    }
    .info-img {
        left: 10em;
    }
}